.navbar {
  background: grey;
  color: white;
}

.jumbotron {
  color: white;
  margin-top: 80px;
  text-align: center;
  background-image: url('/img/Banner.jpg');
  background-size: cover;
  background-position: center;
}

.jumbotron h2 {
  margin-top: 20px;
}

.jumbotron a {
  margin-top: 20px;
}

.jumbotron p {
  text-align: justify;
}

.card-seminario {
  flex: 1 200px;
  margin-top: 10px;
}

.reserva {
  width: 100%;
}

footer {
  background-color: #f1f1f1;
  color: black;
  margin-top: 10px;
  padding: 8px;
}

.footer-icon {
  padding-right: 10px;
}